@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#000;
    --secondary-color:#fff;
}
html{
    transition:all 0.5s ease-in;
}

/* 
when there will be dark class it will reverse the color of whole page as colors are define below for dark class. */

html.dark{
    --primary-color:#fff;
    --secondary-color:#333; 
}
html.dark{
    background-color: #111;
    color:var(--primary-color);
}

body{
    font-family:"Roboto" , "sans-serif";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

.toggle{
    background-color:var(--primary-color);
    color:var(--secondary-color);
    padding: 8px 12px;
    border:0;
    border-radius:4px;
    position: absolute;
    top:100px;
    cursor: pointer;
    z-index:1
}

.toggle:active{
    transform: scale(0.98);
}
.toggle:focus{
    outline: none;
}

.clock-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}

.clock{
    position: relative;
    height: 200px;
    width: 200px;
    /* background-color: rgb(219, 208, 208); */
}

.needle{
    position: absolute;
    background-color: var(--primary-color);
    width: 3px;
    height: 65px;
    top:50%;
    left:50%;
    transform-origin:bottom center
}

.needle.hour{
    transform:translate(-50% , -100%);
}

.needle.minute{
    transform:translate(-50% , -100%) rotate(10deg);
    background-color: red;
    height: 80px;
}
.needle.second{
    transform:translate(-50% , -100%) rotate(20deg);
    background-color: yellow;
    height: 70px;
}

.center-point{
    background-color: red;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50% , -50%)
}
.center-point::before{
    content: "";
    background-color:var(--primary-color);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50% , -50%)
}

.time{
    font-size: 65px;
}
.date{
    color:#aaa;
    font-size:14px;
    letter-spacing: 0.3px;
}