@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins' , 'sans-serif';
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    background:#4c2885;
}

.user-profile{
    width: 100%;
    max-width: 700px;
    /* box-shadow: 0 5px 2px rgba(0,0,0,0.5); */
}
form input{
    width: 100%;
    padding: 0.8rem;
    margin: .5rem 0;
    font-size: 1rem;
    background-color: #212a72;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 3px 2px rgba(0,0,0,0.5);
    color:#fff
}

form input::placeholder{
    color:#fff
}

form input:focus{
    outline:none
}
.card{
    display:flex;
    background-color: #212a72;
    max-width: 700px;
    color: #fff;
    padding: 2rem;
    box-shadow: 0 3px 2px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.avatar{
    height: 150px;
    width:150px;
    border: 10px solid #2a2a72;
    border-radius: 100%;
}
.user-info{
    margin: 0.25rem 0.25rem;
}
.user-info p{
    margin-top: 10px;
}
.user-info ul{
    display: flex;
    list-style-type: none;
    margin-top: .50rem;
    justify-content: space-between;
    max-width: 300px;
    padding: 0;
    margin-bottom: .7rem;
}

.user-info ul li{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: .5rem;
}

.user-info ul li strong{
    margin-left: .25rem;
    font-size: .8rem;
}

.repo{
    text-decoration: none;
    color: #fff;
    background-color: #1414eb;
    margin-right: .5rem;
    margin-bottom: .8rem;
    font-size: .7rem;
    padding: .25rem;
}
.msg{
    color:#222
}

@media (max-width:500px) {
    .card{
        max-width: 400px;
        flex-direction: column;
        align-items: center;
    }
    .user-info{
        max-width: 400px;
        align-items: center;
        justify-content: center;
    }
}